<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Title</h2>
    </div>
</div>

<div class="list-group">

    <a ng-href="#/book/{{book.title}}" class="list-group-item" ng-repeat='book in books'>
        <h4>{{book.title}}</h4>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: {{book | averageReview}}%">
            </div>
        </div>
    </a>

</div>